/* место для вашего кода */
.page {
  font-weight: 400;
  background-color: #fff;
  max-width: 1440px; /* убрать */
  margin: 0 auto; /* убрать */
}

address {
  font-style: normal;
}

.header__logo-image {
  width: 130px;
}

.footer__links {
  display: flex;
  gap: 0 48px;
  list-style: none;
}

.footer__links img {
  width: 48px;
  height: 48px;
}
